// .landing-page.xxl-page  classes needed to override landing.scss portal styles
.landing-page.xxl-page,
* {
  .btn,
  .btn {
    &.icon-chevron {
      line-height: 1.5;

      &::before {
        @extend %icon-font;
        order: 2;
        display: inline-flex;
        align-items: center;
        transform: rotate(-90deg);
        font-size: 0.625rem;
        margin-left: 0.625rem;

        @media (min-width: ($bp-4k)) {
          font-size: 1.25rem;
          margin-left: 1.25rem;
        }
      }
    }

    &.btn-primary {
      border: none;
      border-radius: 0;
      background-color: $yellow;
      background-image: linear-gradient(to right, $black 50%, $yellow 50%);
      background-size: 201% 100%; // Extra percent to prevent yellow line on hover effect
      background-position: right;
      color: $black;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
        border-radius: 0;
      }

      &:hover,
      &:focus,
      &:active {
        background-position: left;
        color: $yellow;
        box-shadow: none;
      }
    }

    &.btn-outline-primary {
      border: 1px solid $black;
      border-radius: 0;
      background-color: $white;
      color: $black;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
        border-radius: 0;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $black;
        color: $white;
      }
    }

    &.btn-secondary:not(.button-icon-only) {
      border-radius: 0;
      background-color: $black;
      color: $white;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
      }

      &.icon-chevron::before {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }

      &.text-transform-none {
        text-transform: none;
      }
    }

    &.btn-light {
      border-radius: 0;
      border-color: $white;
      background-color: $white;
      color: $black;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
      }

      &.icon-chevron::before {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }
    }

    &.btn-light-flat {
      background-color: transparent;
      color: $white;

      &:hover,
      &:focus {
        color: $yellow;
        transition: $standard-transition;
      }
    }

    &.btn-link {
      color: $black;
      font-size: $font-size-14;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
      }

      &:hover,
      &:focus,
      &:active {
        color: $black;
        text-decoration: none;
      }
    }

    &.btn-success {
      border: none;
      border-radius: 0;
      background-color: $yellow;
      color: $black;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
        border-radius: 0;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $black;
        color: $yellow;
      }
    }
  }

  a {
    &.skip-main {
      left: -999px;
      position: absolute;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
      z-index: -999;
    }

    &.skip-main:focus,
    &.skip-main:active {
      color: $white;
      background-color: $black;
      left: auto;
      top: 6rem;
      width: 30%;
      height: auto;
      overflow: auto;
      margin: 10px 35%;
      padding: 0.5rem;
      border-radius: 1rem;
      border: 4px solid $blue;
      text-align: center;
      font-size: 1.2rem;
      z-index: 999;

      @media (min-width: $bp-4k) {
        top: calc(1.5 * 70px);
      }
    }
  }
}
