.home-page {
  // base component DS4CH specific overrides
  div.image-card-container-wrapper:has(
      > .image-card-container .bg-color-highlight
    ) {
    background-color: $black;
    color: $white;
    .image-card,
    .text-wrapper,
    .text {
      background-color: $black;
      color: $white;
    }

    // override the default secondary button with the primary styles
    .btn-secondary {
      border: none;
      border-radius: 0;
      background-color: $yellow;
      background-image: linear-gradient(to right, $black 50%, $yellow 50%);
      background-size: 201% 100%; // Extra percent to prevent yellow line on hover effect
      background-position: right;
      color: $black;
      display: inline-flex;
      align-items: center;
      font-family: $font-family-montserrat;
      font-size: $font-size-14;
      padding: 0.4375rem 0.625rem;
      transition: all 400ms ease-in-out;
      text-transform: uppercase;

      @media (min-width: ($bp-4k)) {
        font-size: $font-size-28;
        padding: 0.875rem 1.25rem;
        border-radius: 0;
      }

      &.icon-chevron::before {
        color: $black;
      }

      &:hover,
      &:focus,
      &:active {
        background-position: left;
        color: $yellow;
        box-shadow: none;
        &.icon-chevron::before {
          color: $yellow;
        }
      }
    }
  }
}

// base component DS4CH specific overrides
div.landing-sub-section {
  background-color: $lightgrey;
  color: $black;

  .header {
    padding-bottom: 2rem;

    @media (min-width: $bp-large) {
      padding-bottom: 4rem;
    }

    @media (min-width: $bp-4k) {
      padding-bottom: 10rem;
    }
  }
}

.landing-page.xxl-page {
  .landing-sub-section {
    h2 {
      @extend %title-1;
    }

    h3 {
      @extend %title-2;
    }

    .image-card {
      padding-top: 0;
      padding-bottom: 0;

      @media (min-width: $bp-xxl) {
        max-width: 1500px;
      }

      @media (min-width: $bp-extralarge) {
        margin-left: -4rem;
        margin-right: -4rem;
      }

      @media (min-width: $bp-xxl) {
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: $bp-4k) {
        max-width: 3000px;
      }

      &.image-card-odd {
        .text-wrapper {
          padding-right: 0;
        }
      }

      .text-wrapper .text {
        color: $white;
      }
    }
  }
}

// base component DS4CH specific overrides
.content-card .card-text {
  color: $black;
  font-size: $font-size-base;
  line-height: 1.5;
}

// base component DS4CH specific overrides
.consent-checkbox-section {
  .legend {
    font-size: $font-size-small;

    @media (min-width: $bp-4k) {
      font-size: $font-size-28;
    }
  }

  .btn.btn-link {
    font-size: $font-size-base;

    @media (min-width: $bp-4k) {
      font-size: $font-size-32;
    }

    .icon-chevron {
      font-size: 0.425rem;

      @media (min-width: $bp-4k) {
        font-size: 0.85rem;
      }
    }
  }
}

// CSS variables for theme specific overrides base components
// TODO: use this approach for other base component style overrides
:root {
  --bg-primary: #{$black};
  --color-primary: #{$black};
  --bp-4k-increment: 2;
  --font-family-primary: #{$font-family-montserrat};
}
