main {
  @media (min-width: $bp-large) {
    min-height: calc(100vh - 38.3125rem);
  }

  @media (min-width: $bp-extralarge) {
    min-height: calc(100vh - 36.8125rem);
  }

  @media (min-width: $bp-xxl) {
    min-height: calc(100vh - 35.8625rem);
  }

  @media (min-width: $bp-xxxl) {
    min-height: calc(100vh - 35.8125rem);
  }

  @media (min-width: $bp-wqhd) {
    min-height: calc(100vh - 33.8125rem);
  }

  @media (min-width: $bp-4k) {
    min-height: calc(100vh - 52.625rem);
  }
}

// base component DS4CH specific overrides
div.landing-sub-section {
  background-color: $lightgrey;
  color: $black;

  .header {
    padding-bottom: 2rem;

    @media (min-width: $bp-large) {
      padding-bottom: 4rem;
    }

    @media (min-width: $bp-4k) {
      padding-bottom: 10rem;
    }
  }
}

.landing-page.xxl-page {
  .context-label {
    font-size: $font-size-14;

    @media (min-width: $bp-4k) {
      font-size: $font-size-28;
    }
  }

  .landing-sub-section {
    h2 {
      @extend %title-1;
    }

    h3 {
      @extend %title-2;
    }

    .image-card {
      padding-top: 0;
      padding-bottom: 0;

      @media (min-width: $bp-xxl) {
        max-width: 1500px;
      }

      @media (min-width: $bp-extralarge) {
        margin-left: -4rem;
        margin-right: -4rem;
      }

      @media (min-width: $bp-xxl) {
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: $bp-4k) {
        max-width: 3000px;
      }

      &.image-card-odd {
        .text-wrapper {
          padding-right: 0;
        }
      }

      .text-wrapper .text {
        color: $white;
      }
    }
  }
}

// base component DS4CH specific overrides
.content-card .card-text {
  color: $black;
  font-size: $font-size-base;
  line-height: 1.5;
}

// base component DS4CH specific overrides
.consent-checkbox-section {
  .legend {
    font-size: $font-size-small;

    @media (min-width: $bp-4k) {
      font-size: $font-size-28;
    }
  }

  .btn.btn-link {
    font-size: $font-size-base;

    @media (min-width: $bp-4k) {
      font-size: $font-size-32;
    }

    .icon-chevron {
      font-size: 0.425rem;

      @media (min-width: $bp-4k) {
        font-size: 0.85rem;
      }
    }
  }
}

// CSS variables for theme specific overrides base components
// TODO: use this approach for other base component style overrides
:root {
  --bg-primary: #{$black};
  --color-primary: #{$black};
  --bp-4k-increment: 2;
  --font-family-primary: #{$font-family-montserrat};
  --title-2-font-size: #{$font-size-20};
  --title-2-font-size-lg: #{$font-size-28};
  --title-2-font-size-4k: #{$font-size-56};
  --title-2-font-weight: 700;
  --bs-secondary-color: #{$darkgrey};
}
