.xxl-page {
  .form-control {
    @media (min-width: $bp-4k) {
      font-size: $font-size-32;
      height: 5rem;
    }
  }

  .form-inline.search-form {
    @media (min-width: $bp-4k) {
      padding-left: 5rem;
    }

    &::before {
      @media (min-width: $bp-4k) {
        font-size: $font-size-36;
      }
    }

    .form-control {
      @media (min-width: $bp-4k) {
        font-size: $font-size-32;
      }
    }
  }
}

.form-switch {
  .form-check-input {
    border: 2px solid $black;
    height: 0.875rem;
    width: 1.625rem;
    background-size: 1.125rem;
    background-position: -3px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff' stroke='%23000' stroke-width='1'/%3e%3c/svg%3e");
    cursor: pointer;

    @media (min-width: $bp-4k) {
      border-width: 4px;
      height: 1.75rem;
      width: 3.25rem;
      background-size: 2.25rem;
      background-position: -5px;
    }

    &.secondary {
      border-color: $darkgrey;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff' stroke='%234d4d4d' stroke-width='1'/%3e%3c/svg%3e");
    }

    &:checked {
      background-position: calc(100% + 1px);
      background-color: $black;
      border-color: $black;
      background-size: 0.875rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

      @media (min-width: $bp-4k) {
        background-position: calc(100% + 2px);
        background-size: 1.75rem;
      }
    }

    &[type="checkbox"]:indeterminate {
      background-color: $white;
      background-position: center;
      border-color: $black;
    }

    &:disabled {
      opacity: 1;
      background-color: rgba($black, 0.5);
      pointer-events: auto;
      cursor: not-allowed;

      ~ .form-check-label {
        opacity: 1;
      }
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($black, 0.25);
    }
  }
}
