.container {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: ($bp-extralarge)) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: ($bp-4k)) {
    padding-left: 0;
    padding-right: 0;
  }
}

.xxl-page .container {
  @media (min-width: $bp-xxl) {
    max-width: calc(1250px + 8rem);
  }

  @media (min-width: $bp-4k) {
    max-width: calc(100% - $max-card-width);
  }

  @media (min-width: calc((6 * $max-card-width) + (1.5 * $max-card-width))) {
    max-width: calc(6 * ($max-card-width + $grid-gutter-4k));
  }
}
