.xxl-page .pagination-nav-input {
  @media (min-width: $bp-4k) {
    font-size: $font-size-32;
  }

  .page-input input {
    @media (min-width: $bp-4k) {
      border-radius: 0.625rem;
      padding: 1.5rem !important;
      width: 6.4rem !important;
      font-size: $font-size-32 !important;
      margin-right: 2rem !important;
    }
  }

  .btn-next,
  .btn-prev {
    .page-link {
      @media (min-width: $bp-4k) {
        font-size: $font-size-28 !important;
      }
    }
  }
}
