h2 {
  @extend %title-2;
}

h3 {
  @extend %title-3;
}

h5 {
  @extend %title-5;
}

.label-uppercase {
  font-family: $font-family-montserrat;
  font-size: $font-size-12;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: ($bp-4k)) {
    font-size: $font-size-24;
  }
}

.text-page {
  @at-root .xxl-page & .container {
    @media (min-width: $bp-xxl) {
      max-width: 1140px;
    }

    @media (min-width: $bp-4k) {
      max-width: 3015px;
    }
  }

  article {
    @media (min-width: $bp-4k) {
      font-size: $font-size-36;
    }
  }

  .col {
    @media (min-width: $bp-4k) {
      max-width: $max-text-column-width-landing-4k;
    }
  }

  .context-label {
    @media (min-width: $bp-4k) {
      font-size: $font-size-24;
    }
  }

  h1 {
    font-size: $font-size-24;
    font-weight: 700;

    @media (min-width: $bp-large) {
      font-size: $font-size-28;
    }

    @media (min-width: $bp-4k) {
      font-size: $font-size-56;
    }
  }

  .subtitle {
    font-size: $font-size-16;

    @media (min-width: $bp-small) {
      font-size: $font-size-18;
    }

    @media (min-width: $bp-4k) {
      font-size: $font-size-36;
    }
  }

  .related-container {
    margin-top: 1.5rem;

    @media (min-width: $bp-4k) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}
