h2 {
  @extend %title-2;
}

h3 {
  @extend %title-3;
}

h5 {
  @extend %title-5;
}

.label-uppercase {
  font-family: $font-family-montserrat;
  font-size: $font-size-12;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: ($bp-4k)) {
    font-size: $font-size-24;
  }
}
