@import "@europeana/style/scss/variables";

// Colors
$white: #fff;
$black: #191817;
$yellow: #faa21b;
$grey: #c6c6c6;
$grey--light: #e2e2e2;

// Font
$font-family-montserrat: "Montserrat", sans-serif;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-34: 2.125rem;
$font-size-36: 2.25rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;
$font-size-56: 3.5rem;
$font-size-68: 4.25rem;

$page-header-height: 5.25rem;
$page-header-height-4k: 10.5rem;

%title-1 {
  font-family: $font-family-montserrat;
  font-size: $font-size-24;
  font-weight: 700;

  @media (min-width: $bp-large) {
    font-size: $font-size-34;
  }

  @media (min-width: $bp-4k) {
    font-size: $font-size-68;
  }
}

%title-2 {
  font-family: $font-family-montserrat;
  font-size: $font-size-20;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $bp-large) {
    font-size: $font-size-28;
  }

  @media (min-width: $bp-4k) {
    font-size: $font-size-56;
  }
}

%title-3 {
  font-family: $font-family-montserrat;
  font-weight: 700;
}

%title-5 {
  font-family: $font-family-montserrat;
  font-weight: 600;
}
