name: "Lokalise: pull"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Pull from Lokalise
        uses: lokalise/lokalise-pull-action@54e66e4955a025132182e098dc8e9c73a69e4e8c # v3.14.0
        with:
          api_token: ${{ secrets.LOKALISE_API_TOKEN }}
          project_id: ${{ secrets.LOKALISE_PROJECT_ID }}
          file_format: json
          translations_path: packages/apps/ds4ch/i18n/locales
          base_lang: en_GB
          flat_naming: true
          skip_include_tags: true
          always_pull_base: true
          git_commit_message: "chore(ds4ch): update translations"
          custom_github_token: "${{ secrets.GIT_PAT_LOKALISE }}"
          additional_params: |
            --indentation=2sp
            --export-empty-as=skip
            --export-sort=a_z
            --replace-breaks=false
            --add-newline-eof=true
            --language-mapping=[{"original_language_iso":"en_GB","custom_language_iso":"en"},{"original_language_iso":"mt_MT","custom_language_iso":"mt"},{"original_language_iso":"ga_IE","custom_language_iso":"ga"}]
            --placeholder-format=icu
